<link rel="stylesheet" type="text/css" href="css/newPic.css">


<div class="container">
	<div class="row">
		<form class="input-field" ng-submit='controller.newPic(controller.form)'>
			<h4>Image URL</h4>
			<input type="text" ng-model='controller.form.url' placeholder="img url here...">
			<h4>Title</h4>
			<input type="text" ng-model='controller.form.title' placeholder="title here...">
			<h4>Description</h4>
			<textarea ng-model='controller.form.description' class="materialize-textarea" placeholder="description here..."></textarea>
			<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    			<i class="material-icons right">send</i>
  			</button>
		</form>	
	</div>
</div>